@use "common/reset.scss";
@use "themes/default.scss" as globalTheme;

html {
  background: globalTheme.$background;
  scroll-behavior: smooth;
  font-size: 16px;
}

article,
html,
body {
  display: flex;
  flex-flow: column;

  margin: 0;
  padding: 0;
  border: 0;

  min-height: 100%;
  height: 100%;
}

p,
span,
small,
label,
button,
input,
textarea,
td,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
em {
  font-family: globalTheme.$fontText;
}

article {
  height: 100%;
  flex: 1;

  padding: 0.5rem;

  > main {
    flex: 1;

    display: flex;
    flex-flow: column;
  }
}

picture {
  display: block;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

h1 {
  font-size: 2em;
  font-weight: bolder;

  @media (max-width: 991px) {
    font-size: 1.5em;
  }
}
h2 {
  font-size: 1.5em;
  font-weight: bolder;
  @media (max-width: 991px) {
    font-size: 1.17em;
  }
}
h3 {
  font-size: 1.17em;
  font-weight: bolder;
  @media (max-width: 991px) {
    font-size: 1em;
  }
}
h4 {
  font-size: 1em;
  font-weight: 600;
  @media (max-width: 991px) {
    font-size: 0.83em;
  }
}
h5 {
  font-size: 0.83em;
  font-weight: 600;
  @media (max-width: 991px) {
    font-size: 0.67em;
  }
}
h6 {
  font-size: 0.67em;
  font-weight: 600;
  @media (max-width: 991px) {
    font-size: 0.5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.2rem;
  font-family: globalTheme.$fontText;
}

p,
td,
li,
div,
a,
div,
button {
  font-size: 1rem;
  letter-spacing: -0.02em;
  font-family: globalTheme.$fontText;
}

p,
td,
li,
div,
a,
button {
  line-height: 150%;
}

p {
  margin-bottom: 1rem;

  small {
    font-size: 90%;
    line-height: 0.9rem;
    display: inline-block;
  }

  span {
    font-size: inherit;
  }
}

span {
  font-size: 0.8rem;
}

input {
  @media (max-width: 991px) {
    font-size: 1rem !important;
  }
}

button {
  cursor: pointer;
}
