.rowContainer {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > div {
    position: relative;

    background-color: theme.$primary;
    border-radius: 3px;
    height: 2.6rem;
    width: 6rem;

    span {
      position: absolute;
      z-index: 3;

      top: 0.2rem;
      right: 0.4rem;
      color: theme.$primary;
      font-size: 0.5rem;
      font-family: theme.$fontNumber;
      line-height: 0.6rem;

      pointer-events: none;
    }
  }

  > div:nth-of-type(1) {
    padding: 0.5rem;
    background-color: theme.$secondary;
  }
}
